In [1]:
import pandas as pd

In [2]:
data_day = pd.read_csv(r"D:\VS Code Projects\Datasets\Bike Sharing\data_raw\day.csv")
data_hour = pd.read_csv(r"D:\VS Code Projects\Datasets\Bike Sharing\data_raw\hour.csv")

In [3]:
data_day.shape

(731, 16)

In [4]:
data_hour.shape

(17379, 17)

In [5]:
data_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [6]:
data_day.sample(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
183,184,2011-07-03,3,0,7,0,0,0,2,0.716667,0.668575,0.682500,0.228858,2282,2367,4649
45,46,2011-02-15,1,0,2,0,2,1,1,0.266087,0.254274,0.314348,0.291374,140,1675,1815
409,410,2012-02-14,1,1,2,0,2,1,2,0.319167,0.333946,0.508750,0.141179,135,3787,3922
369,370,2012-01-05,1,1,1,0,4,1,1,0.265833,0.278412,0.524167,0.129987,140,3132,3272
398,399,2012-02-03,1,1,2,0,5,1,1,0.313333,0.309346,0.526667,0.178496,310,3841,4151

In [7]:
#Checking Dates data type day dataset
data_day.dtypes['dteday']

dtype('O')

In [8]:
#Checking Dates data type for hour dataset
data_hour.dtypes['dteday']

dtype('O')

In [9]:
#Changing "Date" column type to datetime
data_hour['dteday'] = pd.to_datetime(data_hour['dteday'])
data_day['dteday'] = pd.to_datetime(data_day['dteday'])

In [10]:
data_day.dtypes['dteday']

dtype('<M8[ns]')

In [11]:
print(data_day['dteday'].dt.year.value_counts())
print(data_hour['dteday'].dt.year.value_counts().unique())

dteday
2012    366
2011    365
Name: count, dtype: int64
[8734 8645]

#### Avoid Data Leakage
##### To prevent information leakage between training and evaluation:
- **Training set:** All records from the year 2011  
- **Evaluation set (validation):** First three quarters of 2012  
- **Holdout set (test set):** Last quarter of 2012

In [12]:
# Sort by date (important to avoid shuffling issues)
data_day =data_day.sort_values(by = 'dteday')
data_hour = data_hour.sort_values(by = ['dteday', 'hr'])

In [13]:
data_hour.head(24)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14
10,11,2011-01-01,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,12,24,36
11,12,2011-01-01,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,26,30,56
12,13,2011-01-01,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,29,55,84
13,14,2011-01-01,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,47,47,94
14,15,2011-01-01,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,35,71,106
15,16,2011-01-01,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,40,70,110
16,17,2011-01-01,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,41,52,93
17,18,2011-01-01,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,15,52,67
18,19,2011-01-01,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,9,26,35
19,20,2011-01-01,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,6,31,37
20,21,2011-01-01,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,11,25,36
21,22,2011-01-01,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,3,31,34
22,23,2011-01-01,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,11,17,28
23,24,2011-01-01,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,15,24,39

In [14]:
# Define cutoff dates
cutoff_date = '2012-01-01'
holdout_day =  '2012-10-01'

In [15]:
# Train: before 2012
train_data_day = data_day[data_day['dteday']< cutoff_date]
#valid: before Q4 /2012
valid_data_day = data_day[(data_day['dteday']>= cutoff_date) & (data_day['dteday']< holdout_day)]
# Test: after Q3 2012
holdout_data_day = data_day[data_day['dteday']>= holdout_day]

In [16]:
# Train: before 2012
train_data_hour = data_hour[data_hour['dteday']< cutoff_date]
#valid: before Q4 /2012
valid_data_hour = data_hour[(data_hour['dteday']>= cutoff_date) & (data_hour['dteday']< holdout_day)]
#test: after Q3 /2012
holdout_data_hour = data_hour[data_hour['dteday']>= holdout_day]

In [17]:
holdout_data_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
15211,15212,2012-10-01,4,1,10,0,0,1,1,1,0.46,0.4545,0.72,0.1045,6,39,45
15212,15213,2012-10-01,4,1,10,1,0,1,1,1,0.44,0.4394,0.77,0.0896,5,13,18
15213,15214,2012-10-01,4,1,10,2,0,1,1,1,0.46,0.4545,0.72,0.0000,6,6,12
15214,15215,2012-10-01,4,1,10,3,0,1,1,1,0.44,0.4394,0.77,0.0000,1,6,7
15215,15216,2012-10-01,4,1,10,4,0,1,1,1,0.42,0.4242,0.82,0.1045,0,10,10

In [18]:
valid_data_day.shape

(274, 16)

In [19]:
train_data_day.shape

(365, 16)

In [20]:
train_data_hour.shape

(8645, 17)

In [21]:
data_hour.dtypes

instant                int64
dteday        datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
hr                     int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [22]:
data_day.dtypes

instant                int64
dteday        datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

In [23]:
data_hour.head(24)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,6,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,7,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,8,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,9,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,10,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14
10,11,2011-01-01,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,12,24,36
11,12,2011-01-01,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,26,30,56
12,13,2011-01-01,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,29,55,84
13,14,2011-01-01,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,47,47,94
14,15,2011-01-01,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,35,71,106
15,16,2011-01-01,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,40,70,110
16,17,2011-01-01,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,41,52,93
17,18,2011-01-01,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,15,52,67
18,19,2011-01-01,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,9,26,35
19,20,2011-01-01,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,6,31,37
20,21,2011-01-01,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,11,25,36
21,22,2011-01-01,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,3,31,34
22,23,2011-01-01,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,11,17,28
23,24,2011-01-01,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,15,24,39

In [24]:
# Save dataset splits
train_data_hour.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\train_hour.csv', index = False)
valid_data_hour.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\valid_hour.csv', index = False)
holdout_data_hour.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\holdout_hour.csv', index = False)

train_data_day.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\train_day.csv', index = False)
valid_data_day.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\valid_day.csv', index = False)
holdout_data_day.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\holdout_day.csv', index = False)