In [1]:
import pandas as pd

In [2]:
data_day = pd.read_csv(r"D:\VS Code Projects\Datasets\Bike Sharing\day.csv")
data_hour = pd.read_csv(r"D:\VS Code Projects\Datasets\Bike Sharing\hour.csv")

In [3]:
data_day.shape

(731, 16)

In [4]:
data_hour.shape

(17379, 17)

In [5]:
data_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [6]:
data_day.sample(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
41,42,2011-02-11,1,0,2,0,5,1,1,0.189091,0.213509,0.506364,0.108550,149,1597,1746
99,100,2011-04-10,2,0,4,0,0,0,2,0.426667,0.426737,0.857500,0.146767,1188,1707,2895
416,417,2012-02-21,1,1,2,0,2,1,1,0.287826,0.295113,0.594348,0.205717,163,3614,3777
635,636,2012-09-27,4,1,9,0,4,1,2,0.650000,0.607975,0.690833,0.134342,751,6642,7393
509,510,2012-05-24,2,1,5,0,4,1,1,0.655000,0.606700,0.716667,0.172896,1059,5711,6770

In [7]:
#Checking Dates data type day dataset
data_day.dtypes['dteday']

dtype('O')

In [8]:
#Checking Dates data type for hour dataset
data_hour.dtypes['dteday']

dtype('O')

In [9]:
#Changing "Date" column type to datetime
data_hour['dteday'] = pd.to_datetime(data_hour['dteday'])
data_day['dteday'] = pd.to_datetime(data_day['dteday'])

In [10]:
data_day.dtypes['dteday']

dtype('<M8[ns]')

In [11]:
print(data_day['dteday'].dt.year.value_counts())
print(data_hour['dteday'].dt.year.value_counts().unique())

dteday
2012    366
2011    365
Name: count, dtype: int64
[8734 8645]

#### Avoid Data Leakage
##### To prevent information leakage between training and evaluation:
- **Training set:** All records from the year 2011  
- **Evaluation set (validation):** First three quarters of 2012  
- **Holdout set (test set):** Last quarter of 2012

In [12]:
# Sort by date (important to avoid shuffling issues)
data_day =data_day.sort_values(by = 'dteday')
data_hour = data_hour.sort_values(by = 'dteday')

In [13]:
# Define cutoff dates
cutoff_date = '2012-01-01'
holdout_day =  '2012-10-01'

In [14]:
# Train: before 2012
train_data_day = data_day[data_day['dteday']< cutoff_date]
#valid: before Q4 /2012
valid_data_day = data_day[(data_day['dteday']>= cutoff_date) & (data_day['dteday']< holdout_day)]
# Test: after Q3 2012
holdout_data_day = data_day[data_day['dteday']>= holdout_day]

In [15]:
# Train: before 2012
train_data_hour = data_hour[data_hour['dteday']< cutoff_date]
#valid: before Q4 /2012
valid_data_hour = data_hour[(data_hour['dteday']>= cutoff_date) & (data_hour['dteday']< holdout_day)]
#test: after Q3 /2012
holdout_data_hour = data_hour[data_hour['dteday']>= holdout_day]

In [16]:
holdout_data_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
15225,15226,2012-10-01,4,1,10,14,0,1,1,2,0.60,0.6212,0.43,0.1045,51,193,244
15226,15227,2012-10-01,4,1,10,15,0,1,1,2,0.62,0.6212,0.43,0.1343,95,234,329
15227,15228,2012-10-01,4,1,10,16,0,1,1,2,0.62,0.6212,0.46,0.2537,51,408,459
15228,15229,2012-10-01,4,1,10,17,0,1,1,3,0.56,0.5303,0.60,0.2537,65,791,856
15229,15230,2012-10-01,4,1,10,18,0,1,1,3,0.56,0.5303,0.64,0.1045,42,571,613

In [17]:
valid_data_day.shape

(274, 16)

In [18]:
train_data_day.shape

(365, 16)

In [19]:
train_data_hour.shape

(8645, 17)

In [20]:
# Save dataset splits
train_data_hour.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\valid_hour.csv', index = False)
holdout_data_hour.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\holdout_hour.csv', index = False)
train_data_day.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\train_day.csv', index = False)
valid_data_day.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\valid_day.csv', index = False)
holdout_data_day.to_csv(r'D:\VS Code Projects\Datasets\Bike Sharing\data_splitted\holdout_day.csv', index = False)