In [2]:
import pandas as pd

In [3]:
data_day = pd.read_csv(r"C:\Users\obouk\PycharmProjects\Bike_Sharing\data\original_data\day.csv")
data_hour = pd.read_csv(r"C:\Users\obouk\PycharmProjects\Bike_Sharing\data\original_data\hour.csv")

In [4]:
data_day.shape

(731, 16)

In [5]:
data_hour.shape

(17379, 17)

In [6]:
data_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [7]:
data_day.sample(5)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
66,67,2011-03-08,1,0,3,0,2,1,1,0.292500,0.302400,0.420833,0.120650,316,1817,2133
214,215,2011-08-03,3,0,8,0,3,1,2,0.731667,0.679937,0.657500,0.135583,467,3107,3574
679,680,2012-11-10,4,1,11,0,6,0,1,0.389167,0.393937,0.645417,0.057846,2090,4446,6536
266,267,2011-09-24,4,0,9,0,6,0,2,0.606667,0.564412,0.862500,0.078383,1776,3647,5423
680,681,2012-11-11,4,1,11,0,0,0,1,0.420833,0.421713,0.659167,0.127500,2290,4562,6852

In [11]:
data_day.dtypes['dteday']

dtype('O')

In [12]:
data_hour.dtypes['dteday']

dtype('O')

In [15]:
data_hour['dteday'] = pd.to_datetime(data_hour['dteday'])
data_day['dteday'] = pd.to_datetime(data_day['dteday'])

In [16]:
data_day.dtypes['dteday']

dtype('<M8[ns]')

In [30]:
print(data_day['dteday'].dt.year.value_counts())
print(data_hour['dteday'].dt.year.value_counts().unique())

dteday
2012    366
2011    365
Name: count, dtype: int64
[8734 8645]

In [31]:
data_day =data_day.sort_values(by = 'dteday')
data_hour = data_hour.sort_values(by = 'dteday')

In [32]:
cutoff_date = '2012-01-01'
holdout_day =  '2012-10-01'

In [36]:
train_data_day = data_day[data_day['dteday']< cutoff_date]
valid_data_day = data_day[(data_day['dteday']>= cutoff_date) & (data_day['dteday']< holdout_day)]
holdout_data_day = data_day[data_day['dteday']>= holdout_day]

In [37]:
train_data_hour = data_hour[data_hour['dteday']< cutoff_date]
valid_data_hour = data_hour[(data_hour['dteday']>= cutoff_date) & (data_hour['dteday']< holdout_day)]
holdout_data_hour = data_hour[data_hour['dteday']>= holdout_day]

In [39]:
holdout_data_hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
15225,15226,2012-10-01,4,1,10,14,0,1,1,2,0.60,0.6212,0.43,0.1045,51,193,244
15226,15227,2012-10-01,4,1,10,15,0,1,1,2,0.62,0.6212,0.43,0.1343,95,234,329
15227,15228,2012-10-01,4,1,10,16,0,1,1,2,0.62,0.6212,0.46,0.2537,51,408,459
15228,15229,2012-10-01,4,1,10,17,0,1,1,3,0.56,0.5303,0.60,0.2537,65,791,856
15229,15230,2012-10-01,4,1,10,18,0,1,1,3,0.56,0.5303,0.64,0.1045,42,571,613

In [40]:
valid_data_day.shape

(274, 16)

In [41]:
train_data_day.shape

(365, 16)

In [43]:
train_data_hour.shape

(8645, 17)

In [49]:
train_data_hour.to_csv(r'C:\Users\obouk\PycharmProjects\Bike_Sharing\data\data_splitted\train_hour.csv', index =False)
valid_data_hour.to_csv(r'C:\Users\obouk\PycharmProjects\Bike_Sharing\data\data_splitted\valid_hour.csv', index = False)
holdout_data_hour.to_csv(r'C:\Users\obouk\PycharmProjects\Bike_Sharing\data\data_splitted\holdout_hour.csv', index = False)
train_data_day.to_csv(r'C:\Users\obouk\PycharmProjects\Bike_Sharing\data\data_splitted\train_day.csv', index = False)
valid_data_day.to_csv(r'C:\Users\obouk\PycharmProjects\Bike_Sharing\data\data_splitted\valid_day.csv', index = False)
holdout_data_day.to_csv(r'C:\Users\obouk\PycharmProjects\Bike_Sharing\data\data_splitted\holdout_day.csv', index = False)