## Data exploration/ Cleaning

In [1]:
import pandas as pd

In [2]:
train_day_df = pd.read_csv("D:/VS Code Projects/Datasets/Bike Sharing/data_splitted/train_day.csv")
valid_day_df = pd.read_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_splitted/valid_day.csv')
test_day_df = pd.read_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_splitted/holdout_day.csv')

train_hour_df = pd.read_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_splitted/train_hour.csv')
valid_hour_df = pd.read_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_splitted/valid_hour.csv')
test_hour_df = pd.read_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_splitted/holdout_hour.csv')

In [3]:
#CSV does not save datatypes, be aware to check again the datatypes of each column
train_day_df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [4]:
train_day_df.head(3)

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349

In [5]:
datasets_list =  [train_day_df,train_hour_df,valid_day_df,valid_hour_df,test_day_df,test_hour_df]

In [6]:
for dataset in datasets_list:
    dataset['dteday'] = pd.to_datetime(dataset['dteday'])
print('ISSUE FIXED')
train_hour_df.dtypes

ISSUE FIXED

instant                int64
dteday        datetime64[ns]
season                 int64
yr                     int64
mnth                   int64
hr                     int64
holiday                int64
weekday                int64
workingday             int64
weathersit             int64
temp                 float64
atemp                float64
hum                  float64
windspeed            float64
casual                 int64
registered             int64
cnt                    int64
dtype: object

### Mapping Column names

In [7]:
train_day_df.columns.tolist()

['instant',
 'dteday',
 'season',
 'yr',
 'mnth',
 'holiday',
 'weekday',
 'workingday',
 'weathersit',
 'temp',
 'atemp',
 'hum',
 'windspeed',
 'casual',
 'registered',
 'cnt']

In [8]:
#removing leading and trailing spaces, converting names to lowercase, and replacing spaces with underscores for all columns in all datasets
for dataset in datasets_list:
    dataset.columns = (dataset.columns.str.strip().str.lower().str.replace(' ', '_'))

In [9]:
rename_map = {'weathersit':'weather_situation',
                              'workingday': 'working_day',
                              'windspeed':'wind_speed',
                              'weekday': 'week_day',
                              'cnt': 'num_rentals', 
                              'temp':'temp_norm',
                              'atemp': 'feels_like_temp_norm',
                              'hum': 'humidity_norm',
                              'mnth': 'month',
                              'yr': 'year',
                              'dteday': 'date',
                              'hr': 'hour',
                              }
#change column names for all datasets
for dataset in datasets_list:
    dataset.rename(columns= rename_map, inplace= True)

In [10]:
train_day_df.head()

,instant,date,season,year,month,holiday,week_day,working_day,weather_situation,temp_norm,feels_like_temp_norm,humidity_norm,wind_speed,casual,registered,num_rentals
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [11]:
for dataset in datasets_list:
    dataset.drop(columns= 'instant', inplace= True)

In [12]:
train_day_df.head()

,date,season,year,month,holiday,week_day,working_day,weather_situation,temp_norm,feels_like_temp_norm,humidity_norm,wind_speed,casual,registered,num_rentals
0,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

### Clean duplicates/ null values

In [13]:
#check duplicate rows
dataset_names =  ['train_day_df','train_hour_df','valid_day_df','valid_hour_df','test_day_df','test_hour_df']
for name, dataset in zip(dataset_names, datasets_list):
    print(f'{name} has {dataset.duplicated().sum()} duplicate values/n')

train_day_df has 0 duplicate values/n
train_hour_df has 0 duplicate values/n
valid_day_df has 0 duplicate values/n
valid_hour_df has 0 duplicate values/n
test_day_df has 0 duplicate values/n
test_hour_df has 0 duplicate values/n

In [14]:
#Checking null values
for name, dataset in zip(dataset_names, datasets_list):
    print(f'{name} has:/n{dataset.isnull().sum()}/n')

train_day_df has:/ndate                    0
season                  0
year                    0
month                   0
holiday                 0
week_day                0
working_day             0
weather_situation       0
temp_norm               0
feels_like_temp_norm    0
humidity_norm           0
wind_speed              0
casual                  0
registered              0
num_rentals             0
dtype: int64/n
train_hour_df has:/ndate                    0
season                  0
year                    0
month                   0
hour                    0
holiday                 0
week_day                0
working_day             0
weather_situation       0
temp_norm               0
feels_like_temp_norm    0
humidity_norm           0
wind_speed              0
casual                  0
registered              0
num_rentals             0
dtype: int64/n
valid_day_df has:/ndate                    0
season                  0
year                    0
month                   0
holiday                 0
week_day                0
working_day             0
weather_situation       0
temp_norm               0
feels_like_temp_norm    0
humidity_norm           0
wind_speed              0
casual                  0
registered              0
num_rentals             0
dtype: int64/n
valid_hour_df has:/ndate                    0
season                  0
year                    0
month                   0
hour                    0
holiday                 0
week_day                0
working_day             0
weather_situation       0
temp_norm               0
feels_like_temp_norm    0
humidity_norm           0
wind_speed              0
casual                  0
registered              0
num_rentals             0
dtype: int64/n
test_day_df has:/ndate                    0
season                  0
year                    0
month                   0
holiday                 0
week_day                0
working_day             0
weather_situation       0
temp_norm               0
feels_like_temp_norm    0
humidity_norm           0
wind_speed              0
casual                  0
registered              0
num_rentals             0
dtype: int64/n
test_hour_df has:/ndate                    0
season                  0
year                    0
month                   0
hour                    0
holiday                 0
week_day                0
working_day             0
weather_situation       0
temp_norm               0
feels_like_temp_norm    0
humidity_norm           0
wind_speed              0
casual                  0
registered              0
num_rentals             0
dtype: int64/n

In [15]:
train_day_df.sample(10)

,date,season,year,month,holiday,week_day,working_day,weather_situation,temp_norm,feels_like_temp_norm,humidity_norm,wind_speed,casual,registered,num_rentals
39,2011-02-09,1,0,2,0,3,1,2,0.134783,0.144283,0.494783,0.188839,53,1552,1605
175,2011-06-25,3,0,6,0,6,0,1,0.695000,0.643313,0.483333,0.209571,1782,3420,5202
65,2011-03-07,1,0,3,0,1,1,1,0.261739,0.238461,0.551304,0.341352,244,1628,1872
90,2011-04-01,2,0,4,0,5,1,2,0.300000,0.283454,0.686250,0.258708,307,1920,2227
109,2011-04-20,2,0,4,0,3,1,1,0.595000,0.564392,0.614167,0.241925,613,3331,3944
132,2011-05-13,2,0,5,0,5,1,2,0.512500,0.494300,0.863333,0.179725,692,3413,4105
23,2011-01-24,1,0,1,0,1,1,1,0.097391,0.117930,0.491739,0.158330,86,1330,1416
295,2011-10-23,4,0,10,0,0,0,1,0.421667,0.422333,0.741250,0.099513,1619,2762,4381
208,2011-07-28,3,0,7,0,4,1,1,0.779167,0.739900,0.583333,0.178479,606,3784,4390
346,2011-12-13,4,0,12,0,2,1,1,0.282500,0.301138,0.590000,0.140550,155,3368,3523

In [16]:
train_day_df.head(1)

,date,season,year,month,holiday,week_day,working_day,weather_situation,temp_norm,feels_like_temp_norm,humidity_norm,wind_speed,casual,registered,num_rentals
0,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985

In [17]:
train_hour_df.head(24)

,date,season,year,month,hour,holiday,week_day,working_day,weather_situation,temp_norm,feels_like_temp_norm,humidity_norm,wind_speed,casual,registered,num_rentals
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
5,2011-01-01,1,0,1,5,0,6,0,2,0.24,0.2576,0.75,0.0896,0,1,1
6,2011-01-01,1,0,1,6,0,6,0,1,0.22,0.2727,0.80,0.0000,2,0,2
7,2011-01-01,1,0,1,7,0,6,0,1,0.20,0.2576,0.86,0.0000,1,2,3
8,2011-01-01,1,0,1,8,0,6,0,1,0.24,0.2879,0.75,0.0000,1,7,8
9,2011-01-01,1,0,1,9,0,6,0,1,0.32,0.3485,0.76,0.0000,8,6,14
10,2011-01-01,1,0,1,10,0,6,0,1,0.38,0.3939,0.76,0.2537,12,24,36
11,2011-01-01,1,0,1,11,0,6,0,1,0.36,0.3333,0.81,0.2836,26,30,56
12,2011-01-01,1,0,1,12,0,6,0,1,0.42,0.4242,0.77,0.2836,29,55,84
13,2011-01-01,1,0,1,13,0,6,0,2,0.46,0.4545,0.72,0.2985,47,47,94
14,2011-01-01,1,0,1,14,0,6,0,2,0.46,0.4545,0.72,0.2836,35,71,106
15,2011-01-01,1,0,1,15,0,6,0,2,0.44,0.4394,0.77,0.2985,40,70,110
16,2011-01-01,1,0,1,16,0,6,0,2,0.42,0.4242,0.82,0.2985,41,52,93
17,2011-01-01,1,0,1,17,0,6,0,2,0.44,0.4394,0.82,0.2836,15,52,67
18,2011-01-01,1,0,1,18,0,6,0,3,0.42,0.4242,0.88,0.2537,9,26,35
19,2011-01-01,1,0,1,19,0,6,0,3,0.42,0.4242,0.88,0.2537,6,31,37
20,2011-01-01,1,0,1,20,0,6,0,2,0.40,0.4091,0.87,0.2537,11,25,36
21,2011-01-01,1,0,1,21,0,6,0,2,0.40,0.4091,0.87,0.1940,3,31,34
22,2011-01-01,1,0,1,22,0,6,0,2,0.40,0.4091,0.94,0.2239,11,17,28
23,2011-01-01,1,0,1,23,0,6,0,2,0.46,0.4545,0.88,0.2985,15,24,39

In [18]:
train_hour_df['weather_situation'].unique()

array([1, 2, 3, 4])

In [19]:
#LOGICAL INTEGRITY (CASUAL, REGISTRED)
for dataset in datasets_list:
    imposible_mask = dataset['num_rentals'] < (dataset['casual'] + dataset['registered'])
    print(dataset.loc[imposible_mask, ['date','num_rentals','casual', 'registered']])

Empty DataFrame
Columns: [date, num_rentals, casual, registered]
Index: []
Empty DataFrame
Columns: [date, num_rentals, casual, registered]
Index: []
Empty DataFrame
Columns: [date, num_rentals, casual, registered]
Index: []
Empty DataFrame
Columns: [date, num_rentals, casual, registered]
Index: []
Empty DataFrame
Columns: [date, num_rentals, casual, registered]
Index: []
Empty DataFrame
Columns: [date, num_rentals, casual, registered]
Index: []

In [20]:
train_hour_df.dtypes

date                    datetime64[ns]
season                           int64
year                             int64
month                            int64
hour                             int64
holiday                          int64
week_day                         int64
working_day                      int64
weather_situation                int64
temp_norm                      float64
feels_like_temp_norm           float64
humidity_norm                  float64
wind_speed                     float64
casual                           int64
registered                       int64
num_rentals                      int64
dtype: object

In [21]:
train_day_df.head()

,date,season,year,month,holiday,week_day,working_day,weather_situation,temp_norm,feels_like_temp_norm,humidity_norm,wind_speed,casual,registered,num_rentals
0,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [22]:
# ============================
# Save cleaned datasets
# ============================
train_day_df.to_csv("D:/VS Code Projects/Datasets/Bike Sharing/data_cleaned/cleaning_train_day.csv")
valid_day_df.to_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_cleaned/cleaning_valid_day.csv')
test_day_df.to_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_cleaned/cleaning_holdout_day.csv')

train_hour_df.to_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_cleaned/cleaning_train_hour.csv')
valid_hour_df.to_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_cleaned/cleaning_valid_hour.csv')
test_hour_df.to_csv('D:/VS Code Projects/Datasets/Bike Sharing/data_cleaned/cleaning_holdout_hour.csv')

### Note about the dataset

- **temp_norm, feels_like_temp_norm, humidity_norm, wind_speed** are all initially normalised which will be mauch easier to deploy them later in our models
- **weather_situation** are already encoded (1: Clear, 2: Partially Cloudy, 3: Light Snow, 4: Heavy Rain)
- **temp_norm**  with t_min=-8, t_max=+39 and **feels_like_temp_norm**  t_min=-16, t_max=+50 both only in hourly scale
- **wind_speed** with 67 km/h max speed
- In the day dataset, the features **temp_norm, feels_like_temp_norm, humidity_norm, and wind_speed** represent the daily average values recorded for each day.
- **num_rentals** value must be equal to the sum of  **casual & registered** values in each row.
- **holiday** is 1 and 0 when it's not
- **day** from 0 to 6 starting from sunday

- **season** 1:   springer, 2: summer, 3: fall, 4: winter